body {
    background-color: #f8f7f9;
    margin: 0;
}

.contain1 {
    display: flex;
    justify-content: space-evenly;
    
}

.gry {
    display: flex;
    justify-content: space-evenly;
}

.contain3 {
    display: flex;
    justify-content: space-evenly;
}

.contain4 {
    display: flex;
    justify-content: space-evenly;
}

.content2 {
    background-color: #e0e0db;
}


.content4 {
    background-color: #e0e0db;
}

.img {
    display: flex;
    justify-content: space-evenly;
}

.image1 {
    width: 100%;
}

.intro {
    background-color: #292829;
    color: #fff;
    height: 250px;
    width: 100%;
    padding: -5px;
}

.intro1 {
    font-size: 25px;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 50px;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.insta  {
    font-weight: bold;
    color: #253451;
    text-decoration: none;
}

.head1{
    font-size: 25px;
    margin: auto;
}

.head2 {
    font-size: 25px;
    margin: auto;
}

.head3 {
    font-size: 25px;
    margin: auto;
}

.para1 {
    font-size: 20px;
    padding: 5px;
    
}

.head4 {
    font-size: 25px;
    margin: auto;
}

.head5 {
    font-size: 25px;
    margin: auto;
}

.head6 {
    font-size: 25px;
    margin: auto;
}

.para2 {
    font-size: 20px;
    padding: 5px;
}