

/* This is the start of the navigation bar for ALL 
the pages to stay in unison */

.header_container {
    display: flex;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 67%;
    align-items: center;
    padding: 1.5em;
}

#navbar_container {
    font-size: 1.3em;
    font-weight: 1;
    list-style-type: none;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: flex-end;
}

/* The navbar li is keeping the navigation bar horizontal.*/

#navbar li {
    padding: 5px;
    /* display: inline; */
    
}

.nav-link {
    display: inline;
    font-family: Helvetica, sans-serif;
}

#navbar a:link {
color: #000;
text-decoration: none;
}

#navbar a:visited {
    color: #000;
}

#navbar a:hover {
    text-decoration: underline;
    
}

#navbar a:active {
    text-decoration: underline;
}



/* This is the end of the navigation bar */
body {
    background-color: #FFF;
    margin: 0;
}
/* This is the beginning of the body work. The images and content are going to have a checkerboard look */

#image1 {
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
    max-height: 400%;
    object-fit: cover;
    max-width: 100%;
    background-size: cover;
    background-color: #e0e0db;
    margin: 0;
}

/*This is the beginning of the home page banner*/

.content {
    
    text-align: center;
    margin: 0px;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    background-color: #e0e0db;
}

#header1 {
    background-color: #e0e0db;
    
    margin: 0px;
    padding: 12px;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 280;
    font-style: normal;
    line-height: 1.5;
}

#para1 {
    background-color: #e0e0db;
    text-align: left;
    margin: 0px;
   padding: 12px;
   line-height: 1.5;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}

/*This is the end of the home page banner
and the start of the main body*/



#image2 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 10px;
    float: right;
    height: 400px;
    width: 400px;
}

.content {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
}

#header2 {
    font-size: 1.5rem;
    font-weight: bold;
    float: left;
}

#para2 {
    font-size: 1rem;
    float: left;
}




/* This is the end of the body */

/* This is the beginning of the footer. This also needs to be unison on
EVERY page */

footer {
    width: 100%;
    background-color: #000;
    color: #FFF;
    list-style-type: none;
    padding: 3px;
    
}

footer a:link {
    color: #FFF;
    text-decoration: none;
}

footer a:visited {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}