/* This is the end of the navigation bar */

/* This is the beginning of the body work. The images and content are going to have a checkerboard look */

body {
    background-color: #f8f7f9;
    margin: 0;
}

#image1 {
    
    height: 100%;
    width: 100%;
    max-height: 400%;
    object-fit: cover;
    max-width: 100%;
    background-size: cover;
    background-color: #e0e0db;
    margin-bottom: -4px;
    
}

/*This is the beginning of the home page banner*/

.contain {
    width: 100%;
    background-color: #e0e0db;
}


.content {
    display: flex;
    justify-content: space-evenly;
    animation-name: content;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-delay: 10s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

#header1 {
    background-color: #e0e0db;
    
    margin: 0px;
    padding: 12px;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 280;
    font-style: normal;
    line-height: 1.5;
    width: 500px;
}

#para1 {
    background-color: #e0e0db;
    text-align: center;
    margin: 0px;
    padding: 12px;
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-style: normal;
    width: 500px;
}

/*This is the end of the home page banner
and the start of the main body*/

.contain2 {
    display: flex;
    justify-content: space-evenly;
}

#image2 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 10px;
    height: 400px;
    width: 400px;
    margin: auto;
}





#header2 {
    
    font-size: 25px;
    
    margin: auto;
}

#content2 {
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: auto;
}

#para2 {
    font-size: 20px;
    
    padding: 10px;
    
}


.content3 {
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: auto;
}


.contain3 {
display: flex;
justify-content: space-evenly;

}

.image3{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 10px;
    height: 450px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#header3 {
    font-size: 25px;
    margin: auto;
}

#para3 {
    font-size: 20px;
    
    padding: 10px;
}

.content4 {
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: auto;
}


.contain4 {
display: flex;
justify-content: space-evenly;
}

#header4 {
    font-size: 25px;
    margin: auto;
    
}

#para4 {
    font-size: 20px;
    
    padding: 10px;
}

.image4 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 10px;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: #253451;
    font-weight: bold;
}

.btn {
    
    background-color: #253451;
    color:#FFF;
    width: 200px;
    height: 75px;
    border-radius: 7%;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    border-style: none;
    
}

.bwrap {
    width: 100%;
    text-align: center;
    
}

.image5 {
    width: 100%;
    margin-bottom: -15px;
}

button:hover {
    background-color: #515d74;
}

.header5 {
    text-align: center;
    
}

.contain5 {
    display: flex;
    justify-content: space-evenly;
}

.evan {
    padding: 20px;
    background-color: #e0e0db;
    text-align: center;
}

#evan1 {
    padding: 10px;
    border-radius: 180%;
    height: 350px;
    width: 350px;
}

.btn2 {
    background-color: #253451;
    color:#FFF;
    width: 200px;
    height: 65px;
    border-radius: 7%;
    font-size: 15px;
    cursor: pointer;
    
    margin: auto;
    border-style: none;
}

#header5 {
    text-align: center;
    font-size: 20px;
}

#para5 {
    font-size: 20px;
    width: 75%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.contain6 {
    
    display: flex;
    justify-content: space-evenly;
}

.vanessa {
    padding: 20px;
    background-color: #e0e0db;
    text-align: center;
}

#vanessa1 {
    padding: 10px;
    border-radius: 180%;
    height: 350px;
    width: 350px;
}

.btn3 {
    background-color: #253451;
    color:#FFF;
    width: 200px;
    height: 65px;
    border-radius: 7%;
    font-size: 15px;
    margin: auto;
    border-style: none;
    cursor: pointer;
}

#header6 {
    text-align: center;
    font-size: 20px;
}

#para6 {
    font-size: 20px;
    width: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.contain7 {
    display: flex;
    justify-content: space-around;
}
/* This is the end of the body */

