/*Mobile first*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        margin: 0;
    }
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        width: 100%;
        margin: 0;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width: 100%;
        margin: 0;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        width: 100%;
        margin: 0;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        width: 100%;
        margin: 0;
    }

}

body {
    
    background-color: #f8f7f9;
}

.img {
    width: 750px;
    height: auto;
    text-align: center;
    margin: auto;
}

#img {
    width: 750px;
    height: auto;
    margin: auto;
}

.contain {
    display: block;
    
}

.content {
    width: fit-content;
    padding: 30px;
    margin: auto;
}

.para {
    font-size: 20px;
}

.content1 {
    width: fit-content;
    padding: 30px;
    margin: auto;
}

.content2 {
    width: fit-content;
    padding: 30px;
    margin: auto;
}

.list {
    padding: 30px;
    margin: auto;
    list-style: circle;
}

#list {
    margin: auto;
    font-size: 20px;
}

.para2 {
    font-size: 20px;
}

.contain1 {
    display: flex;
     margin: auto;
 }
 
 .content1 {
     display: flex;
     margin: auto;
 }
 
 .para1 {
  justify-content: space-evenly;
     padding: 10px;
     margin: auto;
 }
 
 
 
 .button {
     display: flex;
     margin: auto;
     
 }

.btn {
    margin: auto;
}

.btn {
    
    background-color: #253451;
    color:#FFF;
    width: 200px;
    height: 75px;
    border-radius: 15pt;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    border-style: none;
    
}

.btn:hover {
    background-color: #515d74;
}