body {
    background-color: #f8f7f9;
}

.contain {
    display: flex;
}

.image1 {
    width: 100%;
    margin: auto;
    padding: 0px;
}

.contain2 {
    display: flex;
    justify-content: space-evenly;
    
}

.info {
    text-align: left;
    width: 50%;
    font-size: 20px;
    margin: auto;
}

.form {
    margin: auto;
}

.para1 {
    font-size: 20px;
}