/*Mobile first*/


body {
    background-color: #f8f7f9;
    margin: 0;
}

.image1 {
    width: 100%;
    margin: auto;
    padding: 0px;
}

.contain2 {
    display: flex;
    justify-content: space-evenly;
    
}

.info {
    text-align: left;
    width: 50%;
    font-size: 25px;
    margin: auto;
}

.form {
    margin: auto;
    justify-content: space-around;
}

.para1 {
    font-size: 25px;
}




input {
    margin: auto;
    height: 30px;
    width: 100%;
    font-size: 25px;
}

.btn {
    text-align: center;
    padding: 10px;
}

.btn1:hover {
    background-color: #515d74;
}

.btn1 {  
    background-color: #253451;
    color:#FFF;
    width: 200px;
    height: 75px;
    border-radius: 15pt;
    font-size: 25px;
    cursor: pointer;
    margin: auto;
    border-style: none;
    
}

.contain3 {
    display: flex;
    justify-content: space-evenly;
    padding: -4px;
    margin-bottom: -15px;
}

.content {
    background-color: #253451;
    color: #FFF;
    height: 250px;
    width: 100%;
    margin: auto;
}

.para2 {
    font-size: 30px;
    
    padding: 7%;
    
    margin: auto;
}

.link {
    color: #2e4064;
    font-weight: bold;
}

.msg {
    padding: 5px;
    width: 100%;
    height: 50px;
}

/* Start of media queries */
@media only screen and (max-width: 768px) {
    .contain2 {
        display: block;
    }

    .info {
        width: 80%;
        font-size: 18px;
    }

    .form {
        width: 80%;
        text-align: center;
        padding-top: 5px;
    }

    .para1 {
        font-size: 20px;
    }

    .para2 {
        font-size: 20px;
    }

    .msg {
        padding-top: -10;
        padding-left: 0;
        font-size: 15px;
        width: 100%;
        height: 150px;
    }
}