/*Mobile first*/

body {
    background-color: #f8f7f9;
    margin: 0;
}

.img {
    text-align: center;
}

.contain {
    display: flex;
}

.content {
    justify-content: space-evenly;
    margin: auto;
    padding: 15px;
}

.para {
    font-size: 20px;
}

.contain1 {
    display: flex;
     margin: auto;
 }
 
 .content1 {
     display: flex;
     margin: auto;
 }
 
 .para1 {
  justify-content: space-evenly;
     padding: 10px;
     margin: auto;
 }
 
 
 
 .button {
     display: flex;
     margin: auto;
     
 }
 
 .btn {
     font-size: 18px;
     font-weight: bold;
     padding: 20px;
     background-color: #253451;
     color: #f8f7f9;
     border-radius: 15pt;
     margin: auto;
 }
 
 .btn:hover {
     background-color: #515d74;
 }

  /* Start of media queries */
@media only screen and (max-width: 768px) {    
    #img {
        width: 100%;
    }

    .contain {
        display: block;
    }

    .contain1 {
        display: block;
    }

    .content1 {
        display: block;
    }
}

