/*Mobile first*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        margin: 0;
    }
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        width: 100%;
        margin: 0;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width: 100%;
        margin: 0;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        width: 100%;
        margin: 0;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        width: 100%;
        margin: 0;
    }

}

body {
    margin: 0;
    background-color: #f8f7f9;
}

.video-container {
    background-color: black;
    color: white;
    padding: 1.5em;
}


.content {
    text-align: center;
    font-size: calc(1.4 * 1rem);
}

.gb1 {
    padding: 5em;
}

.pb2 {
    width: 60%;
    margin: auto;
    font-size: 1.4em;
    line-height: 1.5em;
}

.contain {
    background-color: #e0e0db;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
    
}

.sixdays {
    height: auto;
    width: 80%;
    margin: auto;
    
}

.content2 {
    height: auto;
    margin: auto;
    width: auto;
}



.para1 {
    font-size: 18px;
    margin: auto;
    padding: 5px;
}

.para2 {
    margin: auto;
}

.btn {
    text-align: center;
    padding: 10px;
}

#btn {
    
    background-color: #253451;
    color:#FFF;
    width: 200px;
    height: 75px;
    border-radius: 15pt;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    border-style: none;
    
}

.btn1 {
    text-align: center;
    padding: 10px;
}

button:hover {
    background-color: #515d74;
}

.contain1 {
    display: flex;
    justify-content: space-evenly;
    
   
}

button {
    margin: auto;
}

.content3 {
    margin: auto;
    height: auto;
    width: auto;
   
    
}

.children {
    height: auto;
    width: 650px;
    margin: auto;
    
}

.content4 {
    height: auto;
    width: auto;
}

.giants {
    height: auto;
    width: 650px;
    margin: auto;
    
}

#chinese {
    height: auto;
    width: 650px;
    margin: auto;
}
