body {
    margin: 0;
    background-color: #f8f7f9;
}

.video-container {
    background-color: black;
    color: white;
    padding: 1.5em;
}


.content {
    text-align: center;
    font-size: calc(1.4 * 1rem);
}

.gb1 {
    padding: 5em;
}

.pb2 {
    width: 60%;
    margin: auto;
    font-size: 1.4em;
    line-height: 1.5em;
}

.contain {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.sixdays {
    height: 50%;
    width: 75%px;
    margin: auto;
}

.content2 {
    margin: auto;
}