/*Mobile first*/



body {
    margin: 0;
    background-color: #f8f7f9;
}

.video-container {
    background-color: black;
    color: white;
    padding: 1.5em;
}

/*Popup message for Evan's haitus*/

#popup-msg {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #253451;
    border: 1px solid #253451;
    display: block;
    color:#f8f7f9;
}

.content {
    text-align: center;
    font-size: calc(1.4 * 1rem);
}

.gb1 {
    padding: 5em;
}

.pb2 {
    width: 60%;
    margin: auto;
    font-size: 1.4em;
    line-height: 1.5em;
}

.contain {
    background-color: #e0e0db;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
    
}

.sixdays {
    height: auto;
    width: 80%;
    margin: auto;
    
}

.content2 {
    height: auto;
    margin: auto;
    width: auto;
}



.para1 {
    font-size: 18px;
    margin: auto;
    padding: 5px;
}

.para2 {
    margin: auto;
}

.btn {
    background-color: #e0e0db;
    text-align: center;
    padding: 10px;
}

#btn:hover {
    background-color: #515d74;
}

#btn {
    
    background-color: #253451;
    color:#FFF;
    width: 200px;
    height: 75px;
    border-radius: 15pt;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    border-style: none;
    
}

.btn1 {
    text-align: center;
    padding: 10px;
}


.contain1 {
    display: flex;
    justify-content: space-evenly;
    
   
}

button {
    margin: auto;
}

.content3 {
    margin: auto;
    height: auto;
    width: auto;
   
    
}

.children {
    height: auto;
    width: 650px;
    margin: auto;
    
}

.content4 {
    height: auto;
    width: auto;
}

.giants {
    height: auto;
    width: 650px;
    margin: auto;
    
}

#chinese {
    height: auto;
    width: 650px;
    margin: auto;
}

.video {
    position: relative;
    width: 60%;
    padding-bottom: 30%;
    text-align: initial;
    margin: auto;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}



/* Start of media queries */
@media only screen and (max-width: 768px) {

    .video {
        position: relative;
        width: 100%;
        padding-bottom: 65%;
        text-align: initial;
    }
    
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .pb1 {
        text-align: center;
    }

    .gb1 {
        padding: 2em;
    }
    
    .pb2 {
        width: initial;
        margin: auto;
        font-size: 1.25em;
    }

    .contain {
        display: block;
    }

    .sixdays{
        display: block;
        margin: auto;
        height: 190px;
        padding-top: 1em;
    }

    .para1 {
        font-size: 17px;
        padding: 12px;
    }

    .contain1 {
        display: table;
        padding-top: 10px;
        width: 100%;
    }

    .contain1 div:nth-child(1) {
        display: table-footer-group;
    }

    .children {
        width: 80%;
        margin: auto;
        display: block;
    }
    
        .origin {
            width: 80%;
            height: 300px;
            margin: auto;
            display: block;
        }
    
        .giants {
            width: 80%;
            height: 250px;
            margin: auto;
            display: block;
        }
    
        #chinese {
            width: 80%;
            height: 250px;
            margin: auto;
            display: block;
        }
}