body {
    background-color: #f8f7f9;
    margin: auto;
}

.container {
    display: flex;
    margin: auto;
}

.img {
    text-align: center;
}

#img {
    
    margin: auto;
    width: 80%;
    height: auto;
}

.contain {
    display: flex;
}

.content {
    justify-content: space-around;
    padding: 20px;
    margin: auto;
}

.para {
    font-size: 18px;
    margin: auto;
}

.contain1 {
    display: flex;
     margin: auto;
 }
 
 .content1 {
     display: flex;
     margin: auto;
 }
 
 .para1 {
  justify-content: space-evenly;
     padding: 10px;
     margin: auto;
 }
 
 
 
 .button {
     display: flex;
     margin: auto;
     
 }
 
 .btn {
     font-size: 18px;
     font-weight: bold;
     padding: 20px;
     background-color: #253451;
     color: #f8f7f9;
     border-radius: 15pt;
     margin: auto;
 }
 
 .btn:hover {
     background-color: #515d74;
 }