/*Mobile first*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        margin: 0;
    }
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        width: 100%;
        margin: 0;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        width: 100%;
        margin: 0;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        width: 100%;
        margin: 0;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        width: 100%;
        margin: 0;
    }

}

body {
    background-color: #f8f7f9;
}

.contain {
    display: flex;
    
}

.para {
    margin: 5%;

}

.evan {
    height: auto;
    margin: auto;
}

    .content {
    justify-content: space-around;
}

#evan {
    text-align: center;
    text-decoration: underline;
}


.contain1 {
    
    
    display: flex;
    justify-content: space-around;
    
}

.content2 {
    justify-content: space-evenly;
    margin: auto;
}

.about {
    text-align: center;
}

.para2 {
    margin: 5%;
}

.images {
    display: flex;
}

.contain2 {
    display: flex;
    justify-content: space-around;
}


#paypal {
    margin: auto;
}

#zelle {
    margin: auto;
}

#apple {
    margin: auto;
}

.para3 {
    margin: auto;
}

.images1 {
    display: flex;
}

.contain2 {
    justify-content: space-evenly;
}

#venmo {
    margin: auto;
}

#cashapp {
    margin: auto;
}

#cheque {
    margin: auto;
}

.para4 {
    margin: auto;
}