body {
    background-color: #f8f7f9;
}

.contain {
    display: flex;
}

.content {
    display: flex;
    
}

.image {
    width: 100%;
}

#image{
    width: 100%;
}

.para {
    
    margin: auto;
}

.para1 {
    padding: 10px;
    height: auto;
    width: 500px;
    margin: auto;
    font-size: 20px;
    
}

.contain1 {
    display: flex;
    
}

.form1 {
    margin: auto;
    
    
    height: auto;
}

.para2 {
    font-size: 20px;
  

}

input {
    justify-content: center;
    margin: auto;
    height: 25px;
    width: 50%;
    font-size: 20px;
}

.contain3 {
    display: flex;
    justify-content: right;
   
}

.image2 {
    display: flex;
    justify-content: space-evenly;

}

#image2 {
    align-items: right;
    margin: auto;
}

button {
    background-color: #253451;
    color:#FFF;
    width: 200px;
    height: 40px;
    border-radius: 7%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    border-style: none;
}
