body {
    background-color: #f8f7f9;
    margin: 0px;
}

.contain {
    display: flex;
}

 

.image {
    width: 100%;
}

#image{
    width: 100%;
}

.para {
    padding: 0px;
    margin: auto;
}

.para1 {
    padding: 10px;
    height: auto;
    width: 500px;
    margin: auto;
    font-size: 20px;
    
}

.subscription {
    padding: 10px;
}

.contain1 {
    display: flex;
    
}

.container {
    display: flex;
}

.contain2 {
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    height: auto;
}



.form1 {
    margin: auto;
    padding: 10px;
    
    
    height: auto;
}

.para2 {
    font-size: 20px;
  

}

input {
    justify-content: center;
    margin: auto;
    height: 25px;
    width: 50%;
    font-size: 20px;
}

.contain3 {
    display: flex;
    justify-content: right;
   
}

.image2 {
    display: flex;
    justify-content: space-evenly;

}

#image2 {
    align-items: right;

    margin: auto;
}



button {
    background-color: #253451;
    color:#FFF;
    width: 200px;
    height: 40px;
    border-radius: 7%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    border-style: none;
}

button:hover {
    background-color: #515d74;
}
